// =============================================================================
// Header
// =============================================================================

.header-nav {
  display: block;
  padding: 150px 0 70px;
  background-size: cover;
  
  border-bottom: 3px solid $gray-dark;
}

.header-logo {
  width: 90%;
  margin: 0px 5%;
  text-align: center;
  display: inline-block;
  font-family: $sans-serif;
  font-size: 36px;
  font-weight: 900;
  color: $header-logo-color;
  text-decoration: none;
  &:hover {
    color: $gray-lightest;
  }
}

.header-links {
  float: right;
  padding: 0;
  margin: 15px 0 0;
  list-style: none;
  li {
    display: inline-block;
    margin-left: 20px;
    vertical-align: middle;
    &:first-child {
      margin-left: 0;
    }
    a {
      font-size: 18px;
      color: $header-link-color;
      &:hover {
        color: $header-link-color-hover;
      }
    }
  }
}

.header-subheading {
  margin: 0px 20%;
  text-align: center;
  display: block;
  font-family: $sans-serif;
  font-size: 1em;
  font-weight: 700;
  color: $header-logo-color;
}

.header-title-band {
  padding: 10px 0px;
  background-color: rgba(0, 0, 0, 0.5);
}

@include breakpoint(extra-small) {
  .header-links {
    display: block;
    float: none;
    text-align: center;
    li {
      margin: 0 10px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

//Tabs

.header-tab {
  position: absolute;
  bottom: -3px;

  @for $i from 0 to 5 {
    &:nth-child(#{$i+1}) {
       left: $i*120px - $i*3px;
    }
  }
  
  list-style: none;
  padding: 0px 5px;
  font-weight: 900;
  font-size: 1.2em;
  width: 120px;
  border: 3px solid $gray-dark;
  background-color: $white;
  a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: $gray-darker;
  }
  
  &:active, &:hover {
    background-color: $gray-dark;
    a {
      color: $white;
    }
  }
}

.header-nav-tabs .active {
  background-color: $gray-dark;
  a {
    color: $white;
  }
}

.header-tab-pullright {
  right: 0px !important;
  left: inherit !important;
}
